I# Dependencies
##########################
node_modules/
bower_components/
packages/

# Temporary directories
##########################
temp/
tmp/
.tmp/
.temp/

# Build directories
##########################
build/
bld/
dist/
publish/
.build/

# Logs
logs

# Runtime data
pids
*.pid
*.seed


# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Users Environment Variables
.lock-wscript

.idea
